<nav id="menu" class="default">
    <div class="wrapper">
        <ul class="navigation nav">
            <li>
                <div class="icon"></div>
                <span>About this</span>
                <a href="#about-this-holder"></a>
            </li>
            <li>
                <div class="icon"></div>
                <span>Speakers</span>
                <a href="#speakers-link-holder"></a>
            </li>
            <li>
                <div class="icon"></div>
                <span>Topics</span>
                <a href="#topics-holder"></a>
            </li>
            <li>
                <div class="icon"></div>
                <span>Place</span>
                <a href="#place-holder"></a>
            </li>
            <li>
                <div class="icon"></div>
                <span>Registration</span>
                <a href="#registration"></a>
            </li>
        </ul>
    </div>
</nav>